<section id="navbar">
    <div id="navbar-body">
        <ul>
            <li id="icon-menu">
            (User icon that pops out into a menu)
            </li>
            <li id="logo">
            "Avian Menagerie" (+ bird hero image)
            </li>                 
            <li id="logout">
            (picture of door that logs user out)
            </li>
            <!-- Flex goals
            <li id="cart"></li>
            <li id="search"></li>
            -->
        </ul>
    </div>
</section>