<section id="navbar">
    <div>
        <div id="menu-body">
            o
        </div>
        <ul>
            <li id="icon-menu">
                <p>(User icon that pops out into a menu)</p>
            </li>
            <li id="logo">
                <p><span>"Avian Menagerie"</span><span>(+ Bird hero image link)</span></p>
            </li>                 
            <li id="logout">
                <p>(Image of door that logs user out)</p>
            </li>
            <!-- Flex goals
            <li id="cart"></li>
            <li id="search"></li>
            -->
        </ul>
    </div>
</section>