#navbar{
    ul{
        position: fixed;
        top: 0;
        margin-top: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: grey;
        height: 70px;
    }

    li{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        border: 1px solid black;
        overflow: hidden;
        justify-content: center;
        text-align: center;
    }

    li p{
        display: inline-block;
    }

    #icon-menu{
        max-width: 70px;
        flex-grow: 1;
    }

    #logo{
        flex-grow: 1;
    }

    #logout{
        max-width: 70px;
        flex-grow: 1;
    }
}