#navbar{
    // Not Working...
    // @media only screen and (min-width: 640px) {
    //     ul {
    //         height: 70px;
    //     }

    //     #icon-menu, #logout {
    //         max-width: 70px;
    //     }
    // }

    li {
        list-style-type: none;
    }

    #navbar-main {
        background-color: white;
        border-bottom: 1px solid black;
        position: fixed;
        top: 0;
        margin-top: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: 150px;
        left: 0;
    }

    #navbar-main > li {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
        text-align: center;
    }

    #icon-menu, #logout {
        max-width: 150px;
        min-width: fit-content;
        flex-grow: 1;
    }

    #icon-image {
        img {
            border: 1px solid black;
            border-bottom: none;
            max-height: 155px; // inherit size of containing box not working...
            max-width: 100%;
        }
    }

    #menu-hidden-checkbox {
        opacity: 0;
        top: 0;
        display: block;
        position: absolute;
        height: 100%;
        width: 150px;
        //change width with media queries to cover whole icon area
        //same width as #menu-body ideal
        &:hover {
            cursor: pointer;
        }
        &:checked ~ #menu-body {
            transform: scaleX(1);
        }
    }

    #menu-body {
        position: fixed;
        border: 1px solid black;
        top: 150px;
        width: 150px;
        height: 1150px;
        background: white;
        left: 0;
        max-height: 75vh;
        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            li {
                position: relative;
                right: 20px;
                height: 15%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 2.3rem;
                font-weight: bold;
            }
        }
        transform: scaleY(0);
        transform-origin: top left;
        transition-duration: 0.3s;
    }

    #logo-text {
        font-size: 60px;
    }

    li p {
        display: inline-block;
    }

    #logo {
        flex-grow: 1;
        background-image: url(image-path("navbar_banner.jpeg"));
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        span a {
            background: rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            padding: 20px 40px;
            position: relative;
            font-family: sans-serif;
            font-size: 2.4rem;
            font-weight: bold;
            color: rgb(0, 0, 0);
            -webkit-text-stroke: 0.4px rgb(255, 136, 0);
            box-shadow: 5px 10px 5px 2px rgba(123, 0, 224, 0.45);
        }
    }

    #logout {
        img {
            border: 1px solid black;
            border-bottom: none;
            max-height: 160px;
            width: 150px;
            float: right;
        }
    }

    #back-button {
        position: fixed;
        height: 120px;
        width: 120px;
        background: grey;
        bottom: 10px;
        right: 10px;
    }
}